:root {
  --primary: rgba(255, 30, 0, 0.857);
  --bg: #fff;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: "Poopins", sans-serif;
  color: black;
  min-height: 2000px;
}

/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgb(255, 255, 255);
  border-bottom: 3px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px; /*jarak antaar teks dan image nya*/
  font-weight: 700;
  font-size: 2rem;
  font-style: italic;
}

.navbar .navbar-logo img {
  width: 70px; /*Untuk mengubah ukuran image nya*/
  height: auto; /*agar tidak gepeng gambarnya */
}

.navbar .navbar-logo a {
  color: black;
  text-decoration: none;
}

.navbar .navbar-logo a span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: black;
  padding: 10px 18px;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
  transition: 0.2 linear;
}

.navbar .navbar-nav a:hover {
  background-color: var(--primary);
  color: rgb(253, 250, 248);
  border-radius: 2rem;
}

.navbar .navbar-items {
  display: none;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      0deg rgba(255, 255, 255, 0) 3%,
      rgba(255, 255, 255, 0)
    )
    25%;
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.8);
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  color: #fff;
  font-size: 1.3rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(1, 1, 1, 0.8);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 1.5rem;
  box-shadow: 10px 10px 30px rgba(255, 255, 255, 0);
}
